<!--
; Title:  index.ejs
; Author: Soliman Abdelmalak
; Date:   04/22/2021
; Description: Index for EMS Project.! 
-->
<!DOCTYPE html>
<html lang="en">
  <%- include('header'); -%>

<body>
  <%- include('navbar'); -%>

  <div role="main" class="container">
    <br /> <br />
    <h1 class="text-primary jumbotron" style="height: 10px; text-align: center;">EMS Employees Records</h1><br />
       <h2 style="text-align: center;" class="text-info">Entry Employees information.</h2>

    <div class="container">
    <div class="container mx-auto px-6 pt-10" style="width: 60%">
        <br /> 
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">New Employee</h5>
              <h6 class="card-text text-info">Add a new employee information</h6>
              <a href="/new" class="btn btn-primary">Add</a>
            </div>
          </div>
          
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> Employees </h5>
              <h6 class="card-text text-info">View a list of all current employees.</h6>
              <a href="/list" class="btn btn-primary">View</a>
            </div>
          </div>
        </div>
      </div>
  </div>
  <br /> <br />
  <br /> <br />

  <%- include('footer'); -%>
  <%- include("scripts") %>
</body>

</html>